    * {
        font-family: Lucida Sans, Arial, Helvetica, sans-serif;
        box-sizing: border-box;
    }

    body {
        margin: 50px auto;
        background-color: #ffffff;
    }

    header h1 {
        font-size: 108px;
        margin: 0px;
    }

    article p {
        clear: both;
    }

    footer p {
        text-align: center;
        font-size: 36px;
        color: #888;
        margin-top: 30px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .GameBox {
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 500px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 10px #788F99;
        margin: 20px;
        overflow: hidden;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .GameBox:hover {
        transform: translateY(-5px);
    }

    .GameName {
        background-color: #ADC5CF;
        text-align: center;
        color: black;
        padding: calc(30% - 30px);
        font: bold 30px;
        margin-top: 0;
    }

    .GameDescription {
        background-color: white;
        text-align: center;
        color: black;
        padding: 10px;
        font-size: 30px;
    }

    .GameBox:focus {
        outline: none; 
        background-color: yellow;
    }